<ion-header>
  <ion-toolbar>
    <ion-title> GEOLOCALIZACION  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>

    <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label> Latitue </ion-label>
        <ion-badge color="danger" slot="end" >{{latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label> Longitude </ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
    <div class="ion-padding">
      <ion-button (click)="crear()" expand="block">
        Guarda en la base
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" (click)="mostrar()">
        Visualizar en el mapa
      </ion-button>
    </div>

    <ion-content>
      <div id="mapid" style="height:500px; width: 100%; "></div>
    </ion-content>
  
</ion-content>